@{
    Layout = "Layout.cshtml";
}
@model Swytch_Web_Template.Models.ViewList


<div class="section">
    <div class="section-header">
        <h2>Playlist Details</h2>
    </div>
    <div id="single-playlist-container">

        <h3>@Model.Playlist.Name</h3>
        <p><q>@Model.Playlist.Description</q></p>
        <div class="songs-list">
            <h4>Songs (@Model.Songs.Count)</h4>
        </div>
        @foreach (var song in @Model.Songs)
        {
            <div clas="song-item">
                <span><strong>@song.Title</strong> - <i>@song.Artist</i></span>
            </div> 
        }
    </div>
</div>
